tmp
temp
tmp/worktrees
temp/worktrees
/result
.direnv/

*.env
*/*.env
*/**/*.env
.env.*
*.env.*
!.env.example
/env/dec/
/env/enc/*
!/env/enc/dev.env.enc
!/env/enc/prod.env.enc

*.pem
*.p8
*.key
*service-account*.json
.DS_Store
.idea/
.vscode/
